@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500;600&family=Open+Sans:wght@400;600&family=Overpass:wght@700;800&display=swap');

/* rules
font-family: 'Maven Pro', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Overpass', sans-serif; */